[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
rncryptor = "==3.2.0"
bpylist2 = "==3.0.1"
click = "==6.7"
pyqrcode = "==1.2.1"
pycryptodomex = "==3.9.7"

[requires]
python_version = "3.8"
