[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
rncryptor = "==3.3.0"
bpylist = "==0.1.4"
click = "==6.7"
pyqrcode = "==1.2.1"
pypng = "==0.0.20"
reportlab = "==3.5.53"
pillow = "==7.2.0"

[requires]
python_version = "3.7"
